{% load static %}
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-3">{{ self.heading }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 py-5 d-flex align-items-center">
                <img src="{% static 'images/undraw_referral_4ki4.svg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 py-5">
                <div class="row">
                    {% for feature in self.features %}
                    <div class="col-md-12 ftco-animate d-flex">
                        <div class="media block-6 services border d-flex p-3 mb-3">
                            <div class="icon icon-2 d-flex align-items-center justify-content-center">
                                {{ feature.icon }}
                            </div>
                            <div class="media-body pl-4">
                                <h3 class="heading">{{ feature.heading }}</h3>
                                <p class="mb-0">{{ feature.description }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>